body {
    background: #333333;
}

button {
    
}
/* ======================= */
.OuterComp {
    background: rgb(235, 224, 230);
    margin: 0 35px;
    min-height: 350px;
    border-bottom: 8px solid black;
    padding: 35px 20px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.tableComp {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.headingComp {
    background: #CCC5B9;
    border-bottom: 5px solid black;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    height: 30px;
}

.tableBox {
    width: 250px;
    padding: 1px 0;
    text-align: center;
}

.tableBottom {
    border-bottom: 5px solid black;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

#odd {
    background: #33333325
}

#login {
    min-height: 125px;
    min-width: 125px;
    max-height: 125px;
    max-width: 125px;
    border-top: 10px solid black;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    padding: 0;
    margin: 150px auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#middleOptions {
    margin: -20px 0 15px 0;
}

/* ======================= */
h1 {
    color: #333333;
    font-weight: 800;
} 
