body {
    background: #333333;
}

button {
    
}
/* ======================= */
.OuterComp {
    background: rgb(235, 224, 230);
    margin: 0 35px;
    min-height: 350px;
    width: 900px;
    margin: 0 auto;
    border-bottom: 8px solid black;
    padding: 35px 20px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.tableComp {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.headingComp {
    background: #CCC5B9;
    border-bottom: 5px solid black;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    height: 30px;
}

.tableBox {
    width: 125px;
    padding: 1px 0;
    text-align: center;
}

.tableBottom {
    border-bottom: 5px solid black;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

#odd {
    background: #33333325
}

#login {
    min-height: 125px;
    min-width: 125px;
    max-height: 125px;
    max-width: 125px;
    border-top: 10px solid black;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    padding: 0;
    margin: 150px auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#middleOptions {
    margin: -20px 0 15px 0;
}
/* ======================= */

.searchDropdown {
    display: flex;
    justify-content: space-around;
    height: 93px;
    width: 100%;
    overflow-y: hidden;
    transition: .6s
}

.searchInner {
    background: whitesmoke;
    border: 2px inset lightgrey;
    height: 75px;
    width: 98%
}

.closed {
    height: 0;
}
/* ======================== */
.characterSheet {
    background-image: url('./img/00001.jpg');
    height: 1115px;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
}

.characterSheetPage2 {
    background-image: url('./img/00002.jpg');
    height: 1115px;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
}

.characterInfo {
    position: absolute;
    height: 110px;
    width: 600px;
}

.characterAbilities {
    position: absolute;
    top: 139px;
    left: 45px;
    height: 339px;
    width: 413px;
}

.characterWeapons {
    position: absolute;
    top: 484px;
    left: 25px;
    height: 610px;
    width: 410px;
}

.characterRoseArea {
    position: absolute;
    top: 220px;
    left: 467px;
    height: 480px;
    width: 368px;
}

.characterSpells {
    position: absolute;
    top: 703px;
    left: 443px;
    height: 385px;
    width: 390px;
}

.character {
    position: absolute
}

.Name {
    top: 30px;
    left: 80px;
}

.Background {
    top: 30px;
    left: 323px;
}

.Level {
    top: 30px;
    left: 467px;
}

.Alignment {
    top: 30px;
    left: 546px;
}

.Race {
    top: 55px;
    left: 57px;
}

.Sex {
    top: 55px;
    left: 140px;
}

.Age {
    top: 55px;
    left: 205px;
}

.Height {
    top: 55px;
    left: 276px;
}

.Weight {
    top: 55px;
    left: 355px;
}

.Hair {
    top: 55px;
    left: 430px;
}

.Eyes {
    top: 55px;
    left: 522px;
}

.Gawd {
    top: 80px;
    left: 100px;
}

.Handi {
    top: 80px;
    left: 418px;
}
/* ======================= */
h1 {
    color: #333333;
    font-weight: 800;
} 
